<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590438440189-jitgc8g54m66pbr577eqe38f7brlif9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590438440189-jitgc8g54m66pbr577eqe38f7brlif9j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>590438440189-l9sht767br9eoccaf90scv7ml4gsb02g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpLMPJY9a5pV0nx90f6YlyJz-cmlP471w</string>
	<key>GCM_SENDER_ID</key>
	<string>590438440189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.applematch.app</string>
	<key>PROJECT_ID</key>
	<string>apple-match</string>
	<key>STORAGE_BUCKET</key>
	<string>apple-match.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590438440189:ios:eafa7644c492e77d0df294</string>
</dict>
</plist>